@import url('https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap');

body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  font-family: Roboto Mono;
  line-height: 1.6rem;
}

*[onclick] {
  cursor: pointer;
}

.bar {
  display: flex;
  justify-content: space-between;
}

markRed{
  color: red;
}

markOrangeRed{
  color: orangered;
}

markYellow{
  color: yellow;
}

markYellowGreen{
  color: yellowgreen;
}

markGreen{
  color: green;
}

markBlue{
  color: blue;
}

markBlueViolet{
  color: blueviolet;
}

markPurple{
  color: purple;
}

markGold{
  color: gold;
}

#header {
  margin: 0;
  margin: 1.2rem 0 0 0;
  line-height: 2rem;
}

#command-center {
  margin: 0 0.4rem;
  width: 100%;
  max-width: 40rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transform: translateY(-2vh);
}

#theme-area{
  margin-top: 1rem;
  padding: 1.4rem 1rem;
  border-radius: 0.4rem;
  background: #eaeaea;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

#theme-center{
  margin: 0 0.4rem;
  width: 100%;
  max-width: 40rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transform: translateY(-2vh);
}

.theme-button{
  padding: 1rem 0;
  background: gray;
  border-radius: 0.4rem;
  text-align: center;
  font-size: .8rem;
}

.theme-button:hover{
  cursor: pointer;
  box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.2);
}

/* #left-wing {} */

/* #right-wing {} */

#typing-area {
  margin-top: 1rem;
  padding: 1.4rem 1rem;
  border-radius: 0.4rem;
  background: #eaeaea;
}

#text-display {
  margin-bottom: 1rem;
  overflow: hidden;
}

#input-field {
  width: 100%;
  border: none;
  font: inherit;
  padding: 0.4rem 1rem;
  border-radius: 0.2rem;
  font-size: 1.2rem;
}

#redo-button {
  margin-left: 0.7rem;
  border: none;
  font: inherit;
  padding: 0.4rem 1rem;
  border-radius: 0.2rem;
  font-size: 1.2rem;
  cursor: pointer;
}

#displayuser {
  display: flex
}

#footer {
  margin-bottom: 1.2rem;
  display: flex;
}

#footer *{
  text-decoration: none;
  margin: 0 .5rem;
  color: inherit;
}

#footer .button{
  cursor: pointer;
}

#footer a:visited{
  color: unset;
}

.hidden{ 
  display: none !important;
}

/* Dropdown Button */
.dropbtn {
  background-color: #000000;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
  background-color: #798890;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: static;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: relative;
  background-color: #5f5d5d;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  right: 0;
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: rgb(76, 74, 74)}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}


