body {
    background: #000000;
  }
  
  #header {
    color: #EF426F;
  }
  
  #left-wing {
    color: #EF426F;
  }
  
  #right-wing {
    color: #FF8200;
  }
  
  #typing-area,
  #theme-area {
    background: #000000;
  }
  
  #text-display {
    color: #ffffff;
  }
  
  #input-field {
    background: #ffffff;
    color: #000000;
  }
  
  #input-field.wrong {
    background: #EF426F;
    color: #000000;
  }
  
  #redo-button {
    background: #FF8200;
    color: #ffffff;
  }
  
  #footer {
    color: #FF8200;
  }
  
  .highlight {
    color: #FF8200;
  }
  
  .correct {
    color: #00B2A9;
  }
  
  .wrong {
    color: #EF426F;
  }
  