body {
  background: #501214;
}

#header {
  color: #e5e8e6;
}

#left-wing {
  color: #e5e8e6;
}

#right-wing {
  color: #e5e8e6;
}

#typing-area,
#theme-area {
  background: #6a5638;
}

#text-display {
  color: #ffffff;
}

#input-field {
  background: #f0f0f0;
  color: #000000;
}

#input-field.wrong {
  background: #c43932;
  color: #e5e8e6;
}

#redo-button {
  background: #2E124F;
  color: #ffffff;
}

#footer {
  color: #e5e8e6;
}

.highlight {
  color: #2E124F;
}

.correct {
  color: #99a4a6;
}

.wrong {
  color: #c43932;
}
